<div class="navbar navbar-static-top">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
       	<ul class="nav pull-left">
          
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "portfolio", portfolio_path %></li> 
          <li><%= link_to "about", about_path %></li> 
          <li><%= link_to "blog", blog_path %></li> 
          <li><%= link_to "contact", contact_path %></li> 

       	</ul>
        
      </div>
    </div>
  </div>
</div>
